* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(135deg, #fff3e0, #ffe0b2, #ffd180);
}

/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    background: linear-gradient(to right, #ff5722, #ff9800);
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.logo span {
    color: yellow;
}

.search-bar {
    width: 40%;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 15px;
}

.cart-btn {
    background: white;
    color: #ff5722;
    border: none;
    padding: 10px 18px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* OFFER BANNER */
.offer-banner {
    background: linear-gradient(to right, #d84315, #ff5722);
    color: white;
    text-align: center;
    padding: 20px;
}

.offer-banner h2 {
    font-size: 26px;
    margin-bottom: 5px;
}

/* HERO */
.hero {
    text-align: center;
    padding: 60px 20px;
}

.hero h1 {
    font-size: 44px;
    color: #d84315;
}

.hero span {
    color: #ff5722;
}

.hero p {
    margin: 15px 0;
    font-size: 18px;
}

.order-btn {
    background: #ff5722;
    color: white;
    border: none;
    padding: 14px 35px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}

/* CATEGORIES */
.categories {
    padding: 50px;
    text-align: center;
}

.categories h2 {
    font-size: 34px;
    margin-bottom: 40px;
    color: #d84315;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.category-card {
    background: white;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    transition: transform 0.3s;
    cursor: pointer;
}

.category-card:hover {
    transform: scale(1.05);
}

.category-card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.category-card h3 {
    padding: 15px;
    font-size: 18px;
    color: #ff5722;
}